* {
  box-sizing:border-box;
  position:relative;
}

html, body {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

head {

}

.button {
width: 100px;
height: 100px;
background-color: white;
display: inline-block;
float: left;
  &.eval-button {
    width: 150px;
    height: 50px;
    top: 20px;
    left: 15px;
    border-radius: 25px;
    background-image:
    linear-gradient(
      to right,
      #fba3fc,
      #24bffc
        );
  }
  &.numbers {
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
  }
}

.textview {

}

.button-label-wrapper {
  display:inline-block;
  width:100%;
  height:100%;
  float:left;
  .button-label-container {
    display:inline-block;
    width:100%;
    height:100%;
    float:left;
    .button-label {
      display:inline-block;
      width:30px;
      height:30px;
      font-size:30px;
      text-align:center;
      line-height:30px;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
      color:white;
    }
  }
}

body {
  .calculator-wrapper {
    width:1920px;
    height: 1000px;
    background-image: url("../images/back_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .calculator-container {
      width:100%;
      height: 100%;
      .calculator {
        width:400px;
        height: 700px;
        background-color: white;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .calculator-result-wrapper {
          width: 400px;
          height: 190px;
          .calculator-result-contianer {
            width:100%;
            height: 100%;
            .calculator-result {
              width:100%;
              height: 100%;
              .calculator-result-progress-wrapper {
                width: 400px;
                height: 70px;
                top: 0;
                background-color: yellow;
                .calculator-result-progress-container {
                  width:100%;
                  height: 100%;
                  .calculator-result-progress {
                    width:100%;
                    height: 100%;
                  }
                }
              }
              .calculator-result-answer-wrapper {
                width: 400px;
                height: 120px;
                .calculator-result-answer-container {
                  width:100%;
                  height: 100%;
                  .calculator-result-answer {
                    width:100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
        .calculator-line-wrapper {
          width: 400px;
          height: 10px;
          .calculator-line-container {
            width: 100%;
            height: 100%;
            .calculator-line {
              width: 350px;
              height: 3px;
              display: block;
              margin-left: auto;
              margin-right: auto;
              background-image:
              linear-gradient(
                to right,
                #fba3fc,
                #24bffc
                  );
            }
          }
        }

        .calculator-firstRow-wrapper {
          width: 400px;
          height: 100px;
          .calculator-firstRow-container {
            width:100%;
            height: 100%;
            .calculator-firstRow {
              width:100%;
              height: 100%;
              .calculator-firstRow-clear {
                width: 100px;
                height: 100px;
              }
              .calculator-firstRow-PlueMinus {
                width: 100px;
                height: 100px;
              }
              .calculator-firstRow-division {
                width: 100px;
                height: 100px;
              }
              .calculator-firstRow-multi {
                width: 100px;
                height: 100px;
              }
            }
          }
        }
        .calculator-secondRow-wrapper {
          width: 400px;
          height: 100px;
          .calculator-secondRow-container {
            width:100%;
            height: 100%;
            .calculator-secondRow {
              width:100%;
              height: 100%;
              .calculator-secondRow-7 {
                width: 100px;
                height: 100px;
              }
              .calculator-secondRow-8 {
                width: 100px;
                height: 100px;
              }
              .calculator-secondRow-9 {
                width: 100px;
                height: 100px;
              }
              .calculator-secondRow-minus {
                width: 100px;
                height: 100px;
              }
            }
          }
        }
        .calculator-thirdRow-wrapper {
          width: 400px;
          height: 100px;
          .calculator-thirdRow-container {
            width:100%;
            height: 100%;
            .calculator-thirdRow {
              width:100%;
              height: 100%;
              .calculator-thirdRow-4 {
                width: 100px;
                height: 100px;
              }
              .calculator-thirsRow-5 {
                width: 100px;
                height: 100px;
              }
              .calculator-thirdRow-6 {
                width: 100px;
                height: 100px;
              }
              .calculator-thirdRow-plus {
                width: 100px;
                height: 100px;
              }
            }
          }
        }
        .calculator-fourthRow-wrapper {
          width: 400px;
          height: 100px;
          .calculator-fourthRow-container {
            width:100%;
            height: 100%;
            .calculator-fourthRow {
              width:100%;
              height: 100%;
              .calculator-fourthRow-1 {
                width: 100px;
                height: 100px;
              }
              .calculator-fourthRow-2 {
                width: 100px;
                height: 100px;
              }
              .calculator-fourthRow-3 {
                width: 100px;
                height: 100px;
              }
              .calculator-fourthRow-back {
                width: 100px;
                height: 100px;
              }
            }
          }
        }
        .calculator-lastRow-wrapper {
          width: 400px;
          height: 100px;
          .calculator-lasrRow-container {
            width:100%;
            height: 100%;
            .calculator-lastRow {
              width:100%;
              height: 100%;
              .calculator-lastRow-dot {
                width: 100px;
                height: 100px;
              }
              .calculator-lastRow-0 {
                width: 100px;
                height: 100px;
              }
              .calculator-lastRow-equal-wrapper {
                width: 200px;
                height: 100px;
                .calculator-lastRow-equal-container {
                  width:100%;
                  height: 100%;
                  .calculator-lastRow-equal {
                    width: 150px;
                    height: 50px;
                    text-align: center;
                    font-size: 30px;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
